
body {
    background-color: black;
    
    color: white;
    
    
}

#btn-link{
    padding: 10px 50px 10px 50px;
    margin-top: 20px;
    background-color: yellow;
    color: black;
    border-radius: 10px;
    
}

.container{
    width: 250px;
    height: 350px;
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    box-shadow: 0.1em 0.1em 0.2em black;
    border-radius: 50px;
}


img{
    width: 230px;
}