hr{

    background: white;
    color: white;

}

.container-card{
    background-color: rgb(37, 36, 36);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-follower img{
    width: 80px;
    border-radius: 50%;
    border:  solid  2px white;
}

.card-follower{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 400px;
    background-color: rgb(59, 57, 57);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 20px;
}

.mouse-pointer{

    cursor: pointer;

}

